@{
    ViewData["Title"] = "WEP APP";
}

<div class="container text-center bg-dark text-light">
    <h3 class="display-4">Welcome to Camilo´s ASP.NET CORE MVC Default Template</h3>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Please, download this code from my main <a href="https://github.com/camilochaves">Github</a> webpage</p>
    </br>
    <p class="text-start">Current Development:</p>
    <ul class="text-start">
        <li>WebAPI for mobile access status: <b style="color:green;">Completed with tests OK!</b></li>
        <li>API Documentation :  <b style="color:green;">Completed using Swagger!</b></li>
        <li>Html FrontEnd status: <span style="color:red;background-color:yellow"><strong>in development!</strong></span></li>
        <li>MySql Database: <b style="color:green;">In its own container</b></li>
        <li>
            PhpMyAdmin: <b style="color:green;">Added as a container on <a href="http://localhost:8081">http://localhost:8081</a></b>
            <ul>
                <li>Server: DbMySql</li>
                <li>Username: user</li>
                <li>Password: password</li>
            </ul>
        </li>
        <li>Postman collection:  <b style="color:green;">Provided and tested OK!</b></li>
    </ul>
    <p><b>Note</b></p>
    <p>To Check API endpoints: type "dotnet test Tests", or use provided Postman collection or with Swagger API link above</p>
</div>
