@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This webapp is public, used in my hiring process as an ASP.NET CORE Developer!</p>
<p>It was developed in one day.</p>
<p>Study it well cause it contains all essential parts in .NET CORE MVC Framework</p>
